<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="../images/avatar.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles/index.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>

<body>
    <header role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <strong class="navbar-brand" style="color:#2e6da4" href="#">@ JOI</strong>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="joi.html">JOI</a></li>
                    <li><a href="test/test.html">test</a></li>
                    <li><a href="test/index.html">upload img</a></li>
                    <li><a href="room.html">ws</a></li>
                    <li><a href="/signout">Sign Out</a></li>
                    <li><a href="video.html">video</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://lanleilin.github.io/lanTools/form/form.html">表单</a></li>
                            <li><a href="https://lanleilin.github.io/lanTools/fireworks/fireworksColorful.html">生成</a></li>
                            <li><a href="douban.html">douban</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div>
        </div>
    </header>

    {% block main %} {% endblock %}
    <footer style="background-color:#ddd; padding: 20px 0;">
        <div class="container">
            @JOI end
        </div>
    </footer>
</body>

</html>