{% extends "base.html" %} {% block main %}

<script>
    $(function() {
        var vm = new Vue({
            el: '#product-list',
            data: {
                products: []
            },
            methods: {
                deleteProduct: function(id) {
                    var that = this;
                    // AJAX提交JSON:
                    $.ajax({
                        type: 'delete',
                        dataType: 'json',
                        url: '/api/products/' + id
                    }).done(function(r) {
                        console.log(r);
                        var i;
                        for (i = 0; i < that.products.length; i++) {
                            if (that.products[i].id === r.id) {
                                that.products.splice(i, 1);
                                return;
                            }
                        }
                    }).fail(function(jqXHR, textStatus) {
                        // Not 200:
                        alert('Error: ' + jqXHR.status);
                    });
                }
            }
        });

        $.getJSON('/api/products').done(function(data) {
            vm.products = data.products;
        }).fail(function(jqXHR, textStatus) {
            alert('Error: ' + jqXHR.status);
        });

        $('#product-form').submit(function(e) {
            e.preventDefault();
            var
                product = {
                    name: $(this).find('input[name=name]').val(),
                    manufacturer: $(this).find('input[name=manufacturer]').val(),
                    // price: parseFloat($(this).find('input[name=price]').val())
                    price: $(this).find('input[name=price]').val()
                };
            // AJAX提交JSON:
            $.ajax({
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                url: '/api/products',
                data: JSON.stringify(product)
            }).done(function(r) {
                vm.products.push(r);
            }).fail(function(jqXHR, textStatus) {
                // Not 200:
                alert('Error: ' + jqXHR.status);
            });
        });
    });
</script>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-th-list"></span> 网址</h3>
                </div>
                <div class="panel-body">
                    <div id="product-list">
                        <ul v-for="p in products">
                            <li class="dropup">
                                <span class=" dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <img class="media-object" style="width:40px; height:40px;" src="/static/images/icon.png">
                                </span>
                                <i class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <span><a v-on:click="deleteProduct(p.id)" href="#0">删除</a></span>
                                </i>
                                <h4 class="media-heading" v-text="p.name"></h4>
                                <span v-text="p.manufacturer"></span>
                            </li>
                            <li>
                                <p v-text="p.price"></p>
                            </li>

                            <li>
                                <!-- <a target="_blank" v-bind:href="'http://search.jd.com/Search?enc=utf-8&keyword=' + encodeURIComponent(p.name)">前往</a> -->
                                <a type="button" class="btn btn-primary" target="_blank" v-bind:href=p.price>前往</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>新建</h3>
                </div>
                <div class="panel-body">
                    <form id="product-form">
                        <div class="form-group">
                            <label>标题</label>
                            <input type="text" name="name" class="form-control" placeholder="标题" value="">
                            <p class="help-block">name</p>
                        </div>
                        <div class="form-group">
                            <label>描述</label>
                            <input type="text" name="manufacturer" class="form-control" placeholder="描述" value="">
                            <p class="help-block">des</p>
                        </div>
                        <div class="form-group">
                            <label>地址</label>
                            <input type="text" name="price" class="form-control" placeholder="网址" value="">
                            <p class="help-block">url</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}