{% extends "base.html" %} {% block main %}
<script>
    // $(function() {
    //     document.getElementById('startVideo').addEventListener('click', function() {
    //         var videoElem = document.getElementById("video");
    //         navigator.mediaDevices.getUserMedia({
    //             video: true
    //         }).then(
    //             function(stream) {
    //                 videoElem.src = URL.createObjectURL(stream);
    //                 videoElem.play();
    //             }

    //             // function(stream) {
    //             //     var mediaRecorder = new MediaRecorder(stream);
    //             //     mediaRecorder.addEventListener(
    //             //         "dataavailable",
    //             //         function(event) {
    //             //             console.log(event);
    //             //         }
    //             //     );
    //             //     mediaRecorder.start();
    //             // }
    //         );
    //     })
    // })
</script>
<style>
    #videoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }
    
    #videoContainer video {
        width: 100%;
        max-width: 400px;
    }
    
    #box {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    
    #table {
        display: none;
    }
</style>
<div id="box">
    <!-- <h2 id="startVideo">start video</h2> -->
    <audio id="joiBootMusic" src="/static/video/joi.mp3"></audio>
    <button id="getVideoBtn" class="btn btn-primary">获取视频</button>
    <button id="joiBootMusicBtn" class="btn btn-primary">开机音乐</button>
    <!-- Button trigger modal -->
    <button id="getImgBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#getImgModal">
        获取图片
    </button>
    <button id="drawImgBtn" type="button" class="btn btn-primary" data-toggle="modal" data-target="#drawImgModal">
            生成图片
    </button>

    <!-- Modal begin-->
    <div class="modal fade" id="getImgModal" tabindex="-1" role="dialog" aria-labelledby="getImgModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="getImgModalLabel">I want</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon" id="sizing-addon1">address</span>
                        <input id="getImgInput" type="text" class="form-control" placeholder="url" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg" style="margin-top:8px">
                        <span class="input-group-addon" id="sizing-addon1">&nbsp;class&nbsp;</span>
                        <input id="getImgInputClass" type="text" class="form-control" placeholder="class" aria-describedby="sizing-addon1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="getImgConfirm" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end-->

    <!-- draw-Modal begin-->
    <div class="modal fade drawImgModal" id="drawImgModal" tabindex="-1" role="dialog" aria-labelledby="drawImgModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="drawImgModalLabel">words</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon">des</span>
                        <input id="drawText" type="text" class="form-control" placeholder="text" aria-describedby="sizing-addon1">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="drawImgConfirm" type="button" class="btn btn-primary">确定</button>
                </div>
            </div>
        </div>
    </div>
    <!-- draw-Modal end-->

    <div id="videoContainer">
        <!-- <canvas id="table"></canvas> -->
        <!-- <img src="/static/images/joi/joi.jpg" alt=""> -->
        <!-- <video id="video" controls="controls"></video> -->
        <!-- <video id="video" src="/static/videos/testVideo.mp4" controls="controls"></video> -->
    </div>
    <canvas id="table"></canvas>
</div>
<script>
    $(function() {
        var flagAudio = false;
        var flagImg = false;

        $('#getVideoBtn').click(function() {
                $('#videoContainer').empty()
                $('#videoContainer').append('<video id="video" src="/static/video/movie.mp4" controls="controls"></video>')
            })
            // 加载不同图片
        $('#getImgConfirm').click(function() {
                var ipt = $('#getImgInput').val();
                var imgClass = $('#getImgInputClass').val();
                // var url = 'http://desk.zol.com.cn/meinv/1920x1080/2.html';
                // var imgClass = '.photo-list-padding'
                if (!imgClass && ipt == 'joi') {
                    $('#videoContainer').empty()
                    $('#videoContainer').append('<img src="/static/images/joi/joi.jpg" alt="">')
                    $('#getImgModal').modal('toggle')

                } else if (imgClass && ipt) {
                    $.ajax({
                        url: 'api/crawlerImg',
                        dataType: 'json',
                        method: 'post',
                        data: {
                            webAddress: ipt,
                            imgClass: imgClass
                        },
                        success: function(data) {
                            console.log(data);

                        }
                    })
                    $('#getImgModal').modal('toggle')

                } else {
                    $('#videoContainer').empty()
                    flagImg = !flagImg;
                    if (flagImg) {
                        $('#videoContainer').append('<img src="/static/images/joi/joi1.jpg" alt="">')
                    } else {
                        $('#videoContainer').append('<img src="/static/images/joi/joiInRain.jpg" alt="">')
                    }
                    $('#getImgModal').modal('toggle')

                }
            })
            // 播放开机音乐
        $('#joiBootMusicBtn').click(function() {
            flagAudio = !flagAudio;
            if (flagAudio) {
                document.getElementById('joiBootMusic').play();
            } else {
                document.getElementById('joiBootMusic').pause();

            }
        })

        // 绘制canvas
        /***
        canvas文本换行函数
        **/
        function drawText(txt, ccontext, begin_width, begin_height) {
            var gap = 25;
            var txtArr = [];
            var txtArr1 = [];

            context.font = "20px Georgia";
            context.textAlign = "center";
            context.textBaseline = "middle";
            context.fillStyle = 'white'
            console.log()
            console.log(txt.length)
            if (txt.length <= 12) {
                context.fillText(txt, 150, 150);
            } else {
                for (var i = 0; i < txt.length; i++) {
                    if (i % 12 == 0) {
                        txtArr.push(txt.slice(i, i + 12))
                    }
                }
                console.log(txtArr)
                var x = 150 - txtArr.length * 10
                for (var j = 0; j < txtArr.length; j++) {
                    context.fillText(txtArr[j], 150, gap * j + x);

                }
                // context.fillText(txt, 150 + gap, 150);
            }

        }
        var img = new Image();
        img.src = '/static/images/joi/doge.png'

        var table = document.getElementById('table'),
            context = table.getContext('2d');
        table.width = 300;
        table.height = 300;
        $('#drawImgBtn').click(function() {
            $('#videoContainer').empty()

        })
        $('#drawImgConfirm').click(function() {

            var txt = $('#drawText').val();
            console.log(txt);
            var width = 300,
                height = 300;
            context.drawImage(img, 0, 0, 300, 300)

            // context.font = "20px Georgia";
            // context.textAlign = "center";
            // context.textBaseline = "middle";
            // context.fillStyle = 'white'
            // context.fillText(txt, 150, 150);
            drawText(txt, context);

            var finalImg = new Image();
            finalImg.src = table.toDataURL("image/png");
            // 清空canvas,生成图片
            $('#videoContainer').empty()
            $('#videoContainer').append(finalImg)
            $('#drawImgModal').modal('toggle')

        })





        function joiTimestamp() {
            let d = new Date();
            this.mouth = d.toDateString().slice(0, 7).split(' ').join('');
            this.ftime = `${this.mouth}${d.getHours()}时${d.getMinutes()}分${d.getSeconds()}`
            return this.ftime;
        }
        var timeDir = joiTimestamp();
        console.log(timeDir)
            // var imgClass = '.photo-list-padding'
            // var imgTarget = `${imgClass} a img`
            // console.log(imgTarget)


    })
</script>
{% endblock %}