{% extends "base.html" %} {% block main %}
<script>
    // $(function() {
    //     document.getElementById('startVideo').addEventListener('click', function() {
    //         var videoElem = document.getElementById("video");
    //         navigator.mediaDevices.getUserMedia({
    //             video: true
    //         }).then(
    //             function(stream) {
    //                 videoElem.src = URL.createObjectURL(stream);
    //                 videoElem.play();
    //             }

    //             // function(stream) {
    //             //     var mediaRecorder = new MediaRecorder(stream);
    //             //     mediaRecorder.addEventListener(
    //             //         "dataavailable",
    //             //         function(event) {
    //             //             console.log(event);
    //             //         }
    //             //     );
    //             //     mediaRecorder.start();
    //             // }
    //         );
    //     })
    // })
</script>
<div>
    <h1>video test</h1>
    <h2 id="startVideo">start video</h2>
    <!-- <video id="video" width="200px" controls="controls"></video> -->
    <video width="200px" src="/static/videos/testVideo.mp4" controls="controls"></video>
</div>
<script>
</script>
{% endblock %}