* {
    list-style: none;
}

#product-list{
    ul {
        border: 1px solid lightseagreen;
        padding: 4px;

        li:nth-child(1){
            border-bottom: 1px solid lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            img,span,h4{
                display: inline-block;
                overflow: hidden;
                
            }
            span,h4{
                flex: 1;
            }
            p{
                flex: 2;
                overflow: hidden;
            }
            i{
                text-align: center;
            }
            a{
                float: right;
            }
        }
        li:last-child{
            display: flex;
            justify-content: flex-end;
            border-top: 1px solid lightgray;
            // padding-right: 10px;
            padding: 4px 10px;
        }
        p{
            width: 100%;
            overflow: hidden;
            padding: 10px 5px 0 10px;
        }
    }

}