<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/samples/test/css/test.css">
    <style>
        #box {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        #testh1 img {
            height: 80%;
            margin-left: -180px;
        }

        .selectAddress:hover {
            background: lightgray;
        }
    </style>
    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
</head>

<body>
    <!-- <button id="btn">btnalfjalkf</button>
    <input id="ipt" placeholder="balalal" /> -->
    <div id="example">
        <p>初始 message 是："{{ message }}"</p>
        <p>计算后的翻转 message 是："{{ reversedMessage }}"</p>
    </div>

    <script>
        var vm = new Vue({
            el: '#example',
            data: {
                message: 'Hello'
            },
            computed: {
                // 一个 computed 属性的 getter 函数
                reversedMessage: function () {
                    // `this` 指向 vm 实例
                    return this.message.split('').reverse().join('')
                }
            }
        })
        // $(function () {

        //     $('#ipt').on('keyup', function (e) {
        //         console.log(e.keyCode)
        //     })
        //     $('#btn').click(function () {
        //         var num=123;
        //         $.ajax({
        //             method:'get',
        //             url:`/api/testLog/${num}`,
        //             dataType:'json',
        //             success:function(res){
        //                 console.log('success')
        //                 console.log(res)
        //             }
        //         })

        //     })
        // })
    </script>



    <script src="../../static/samples/test/js/test.js"></script>

</body>

</html>